# Data Analysis with PANDAS - Pt-2

In [36]:
import pandas as pd

### Handling Missing/Null Values

In [2]:
dataset = pd.read_csv("random.csv")
copy_dataset = dataset.copy()

In [3]:
dataset.sample(15)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
53,857392,M,18.220,18.70,120.30,1033.0,0.11480,0.14850,0.17720,0.10600,...,24.13,135.10,1321.0,0.12800,0.2297,0.2623,0.13250,0.3021,0.07987,NaN
483,912558,B,13.700,17.64,87.76,571.1,0.09950,0.07957,0.04548,0.03160,...,23.53,95.78,686.5,0.11990,0.1346,0.1742,0.09077,0.2518,0.06960,NaN
317,894326,M,18.220,18.87,118.70,1027.0,0.09746,0.11170,0.11300,0.07950,...,25.00,140.90,1485.0,0.14340,0.2763,0.3853,0.17760,0.2812,0.08198,NaN
372,9012795,M,21.370,15.10,141.30,1386.0,0.10010,0.15150,0.19320,0.12550,...,21.84,152.10,1535.0,0.11920,0.2840,0.4024,0.19660,0.2730,0.08666,NaN
459,9112712,B,9.755,28.20,61.68,290.9,0.07984,0.04626,0.01541,0.01043,...,36.92,68.03,349.9,0.11100,0.1109,0.0719,0.04866,0.2321,0.07211,NaN
519,917080,B,12.750,16.70,82.51,493.8,0.11250,0.11170,0.03880,0.02995,...,21.74,93.63,624.1,0.14750,0.1979,0.1423,0.08045,0.3071,0.08557,NaN
454,911202,B,12.620,17.15,80.62,492.9,0.08583,0.05430,0.02966,0.02272,...,22.15,91.62,633.5,0.12250,0.1517,0.1887,0.09851,0.3270,0.07330,NaN
536,91979701,M,14.270,22.55,93.77,629.8,0.10380,0.11540,0.14630,0.06139,...,34.27,104.30,728.3,0.13800,0.2733,0.4234,0.13620,0.2698,0.08351,NaN
103,862980,B,9.876,19.40,63.95,298.3,0.10050,0.09697,0.06154,0.03029,...,26.83,72.22,361.2,0.15590,0.2302,0.2644,0.09749,0.2622,0.08490,NaN
266,8910251,B,10.600,18.95,69.28,346.4,0.09688,0.11470,0.06387,0.02642,...,22.94,78.28,424.8,0.12130,0.2515,0.1916,0.07926,0.2940,0.07587,NaN
402,904689,B,12.960,18.29,84.18,525.2,0.07351,0.07899,0.04057,0.01883,...,24.61,96.31,621.9,0.09329,0.2318,0.1604,0.06608,0.3207,0.07247,NaN
399,904357,B,11.800,17.26,75.26,431.9,0.09087,0.06232,0.02853,0.01638,...,24.49,86.00,562.0,0.12440,0.1726,0.1449,0.05356,0.2779,0.08121,NaN
51,857373,B,13.640,16.34,87.21,571.8,0.07685,0.06059,0.01857,0.01723,...,23.19,96.08,656.7,0.10890,0.1582,0.1050,0.08586,0.2346,0.08025,NaN
155,8711003,B,12.250,17.94,78.27,460.3,0.08654,0.06679,0.03885,0.02331,...,25.22,86.60,564.2,0.12170,0.1788,0.1943,0.08211,0.3113,0.08132,NaN
512,915691,M,13.400,20.52,88.64,556.7,0.11060,0.14690,0.14450,0.08172,...,29.66,113.30,844.4,0.15740,0.3856,0.5106,0.20510,0.3585,0.11090,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [5]:
dataset.describe

<bound method NDFrame.describe of            id diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  \
0      842302         M        17.99         10.38          122.80     1001.0
1      842517         M        20.57         17.77          132.90     1326.0
2    84300903         M        19.69         21.25          130.00     1203.0
3    84348301         M        11.42         20.38           77.58      386.1
4    84358402         M        20.29         14.34          135.10     1297.0
..        ...       ...          ...           ...             ...        ...
564    926424         M        21.56         22.39          142.00     1479.0
565    926682         M        20.13         28.25          131.20     1261.0
566    926954         M        16.60         28.08          108.30      858.1
567    927241         M        20.60         29.33          140.10     1265.0
568     92751         B         7.76         24.54           47.92      181.0

     smoothness_mean  compactness_mean  concavity_mean  concave points_mean  \
0            0.11840           0.27760         0.30010              0.14710
1            0.08474           0.07864         0.08690              0.07017
2            0.10960           0.15990         0.19740              0.12790
3            0.14250           0.28390         0.24140              0.10520
4            0.10030           0.13280         0.19800              0.10430
..               ...               ...             ...                  ...
564          0.11100           0.11590         0.24390              0.13890
565          0.09780           0.10340         0.14400              0.09791
566          0.08455           0.10230         0.09251              0.05302
567          0.11780           0.27700         0.35140              0.15200
568          0.05263           0.04362         0.00000              0.00000

     ...  texture_worst  perimeter_worst  area_worst  smoothness_worst  \
0    ...          17.33           184.60      2019.0           0.16220
1    ...          23.41           158.80      1956.0           0.12380
2    ...          25.53           152.50      1709.0           0.14440
3    ...          26.50            98.87       567.7           0.20980
4    ...          16.67           152.20      1575.0           0.13740
..   ...            ...              ...         ...               ...
564  ...          26.40           166.10      2027.0           0.14100
565  ...          38.25           155.00      1731.0           0.11660
566  ...          34.12           126.70      1124.0           0.11390
567  ...          39.42           184.60      1821.0           0.16500
568  ...          30.37            59.16       268.6           0.08996

     compactness_worst  concavity_worst  concave points_worst  symmetry_worst  \
0              0.66560           0.7119                0.2654          0.4601
1              0.18660           0.2416                0.1860          0.2750
2              0.42450           0.4504                0.2430          0.3613
3              0.86630           0.6869                0.2575          0.6638
4              0.20500           0.4000                0.1625          0.2364
..                 ...              ...                   ...             ...
564            0.21130           0.4107                0.2216          0.2060
565            0.19220           0.3215                0.1628          0.2572
566            0.30940           0.3403                0.1418          0.2218
567            0.86810           0.9387                0.2650          0.4087
568            0.06444           0.0000                0.0000          0.2871

     fractal_dimension_worst  Unnamed: 32
0                    0.11890          NaN
1                    0.08902          NaN
2                    0.08758          NaN
3                    0.17300          NaN
4                    0.07678          NaN
..                       ...          ...
564                  0.07115          NaN
565                  0.06637          NaN
566                  0.07820          NaN
567                  0.12400          NaN
568                  0.07039          NaN

[569 rows x 33 columns]>

In [6]:
dataset.isna().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

### Removing the 'Unnamed: 32' column using Dropna()
It is being removed because of the empty values.

In [7]:
dataset.dropna(axis = 1).head(2)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902

In [8]:
dataset.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

To make changes in the dataset, we use `inplace = True`

In [9]:
dataset.dropna(axis = 1, inplace = True)

In [11]:
dataset.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst'],
      dtype='object')

Note on using dropna arguments:

 - `df.dropna(how="all",axis=0/1)`
 - `df.dropna(how="any",axis=0/1)`
 - `df.dropna(subset=['col1','col2'],axis=0/1)`
 - `df.dropna(thresh=3) # keep only rows with atleast 3 NaN values`

### Dealing with Missing values using Fillna()

In [13]:
dataset.head(2)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902

In [14]:
copy_dataset.head(2)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN

 - `df.fillna(0,inplace=True)`
 - `df.fillna(df[column_name].mean(),inplace=True)`
 - `inplace=True` makes the changes permanently in the provided dataset.

In [15]:
copy_dataset.fillna(0)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0.0
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0.0
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0.0
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0.0
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0.0
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0.0
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0.0
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0.0
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,0.0

### bfill and ffill arguments in Fillna
`ffill` is forward fill, check the previous row value and update it.
`bffil` is backward fill, check the next row value and update it

In [16]:
check_ffill=pd.DataFrame(
            {
                "ColOne" : [6, None, None, 10, 5],
                "ColTwo" : [None, 7, 2, 3, None],
                "ColThree" : [4, None, 8, 5, None],
                "ColFour" : [5, 4, 2, None, 0]
            })

In [17]:
check_ffill

   ColOne  ColTwo  ColThree  ColFour
0     6.0     NaN       4.0      5.0
1     NaN     7.0       NaN      4.0
2     NaN     2.0       8.0      2.0
3    10.0     3.0       5.0      NaN
4     5.0     NaN       NaN      0.0

In [19]:
check_ffill.fillna(method = 'ffill')

C:\Users\bhima\AppData\Local\Temp\ipykernel_19484\255625768.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  check_ffill.fillna(method = 'ffill')

   ColOne  ColTwo  ColThree  ColFour
0     6.0     NaN       4.0      5.0
1     6.0     7.0       4.0      4.0
2     6.0     2.0       8.0      2.0
3    10.0     3.0       5.0      2.0
4     5.0     3.0       5.0      0.0

In [20]:
check_ffill.fillna(method = 'bfill')

C:\Users\bhima\AppData\Local\Temp\ipykernel_19484\318479575.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  check_ffill.fillna(method = 'bfill')

   ColOne  ColTwo  ColThree  ColFour
0     6.0     7.0       4.0      5.0
1    10.0     7.0       8.0      4.0
2    10.0     2.0       8.0      2.0
3    10.0     3.0       5.0      0.0
4     5.0     NaN       NaN      0.0

### Groupby

In [21]:
df = pd.DataFrame(
    {
        'Anime/Manga' : ['One Piece', 'One Piece', 'AOT', 'AOT','Gintama','Gintama'],
        'Episodes/Chapter' : [1015, 1047, 75, 129, 366, 704]
    })

In [22]:
df

  Anime/Manga  Episodes/Chapter
0   One Piece              1015
1   One Piece              1047
2         AOT                75
3         AOT               129
4     Gintama               366
5     Gintama               704

In [24]:
df.groupby(['Anime/Manga']).mean()

             Episodes/Chapter
Anime/Manga
AOT                     102.0
Gintama                 535.0
One Piece              1031.0

In [25]:
df.groupby(['Anime/Manga']).max()

             Episodes/Chapter
Anime/Manga
AOT                       129
Gintama                   704
One Piece                1047

In [26]:
df.groupby(['Anime/Manga']).agg(['mean', 'max', 'min', 'count'])

            Episodes/Chapter
                        mean   max   min count
Anime/Manga
AOT                    102.0   129    75     2
Gintama                535.0   704   366     2
One Piece             1031.0  1047  1015     2

### Value Count

In [27]:
df

  Anime/Manga  Episodes/Chapter
0   One Piece              1015
1   One Piece              1047
2         AOT                75
3         AOT               129
4     Gintama               366
5     Gintama               704

In [28]:
df.value_counts()

Anime/Manga  Episodes/Chapter
AOT          75                  1
             129                 1
Gintama      366                 1
             704                 1
One Piece    1015                1
             1047                1
Name: count, dtype: int64

In [29]:
df_2 = pd.DataFrame(
    {
        'num_legs' : [2, 4, 4, 6],
        'num_wings' : [2, 0, 0, 0]
    },
    index = ['falcon', 'dog', 'cat', 'ant'])

In [30]:
df_2

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

In [31]:
df_2.value_counts()

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

### Duplicate, Drop & Rename
 - `check_duplicate_in_all_columns = df[df.duplicated()]`
 - `check_duplicate_in_specific_columns = df[df.duplicated(['col1', 'col2','col3'])]`

In [32]:
dataset.head(3)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [33]:
dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
564    False
565    False
566    False
567    False
568    False
Length: 569, dtype: bool

In [34]:
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [id, diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst]
Index: []

[0 rows x 32 columns]

In [38]:
play_data = pd.read_csv("heart_disease.csv")

In [39]:
play_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [40]:
play_data.duplicated(['age', 'slope'])

0      False
1      False
2      False
3      False
4      False
       ...
298     True
299     True
300     True
301     True
302     True
Length: 303, dtype: bool

In [41]:
play_data[play_data.duplicated(['age', 'slope'])]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [42]:
features = play_data.drop('target', axis = 1)
features

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [43]:
play_data.drop('fbs', axis = 1, inplace = True)
play_data.head(2)

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,1,187,0,3.5,0,0,2,1

In [45]:
# To remove multiple columns ..
play_data.drop(['cp','sex'],axis=1)

,age,trestbps,chol,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,145,233,0,150,0,2.3,0,0,1,1
1,37,130,250,1,187,0,3.5,0,0,2,1
2,41,130,204,0,172,0,1.4,2,0,2,1
3,56,120,236,1,178,0,0.8,2,0,2,1
4,57,120,354,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
298,57,140,241,1,123,1,0.2,1,0,3,0
299,45,110,264,1,132,0,1.2,1,0,3,0
300,68,144,193,1,141,0,3.4,1,2,3,0
301,57,130,131,1,115,1,1.2,1,1,3,0
302,57,130,236,0,174,0,0.0,1,1,2,0

In [46]:
play_data.rename(columns = {'sex' : 'gender'}, inplace = True)
play_data.columns

Index(['age', 'gender', 'cp', 'trestbps', 'chol', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')