# Data Preprocessing Pt-1

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings('ignore')

In [2]:
import sys
print(sys.executable)

C:\Users\bhima\anaconda3\python.exe

In [3]:
import os
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'DataPreprocessing Practice.ipynb',
 'hotel_bookings.csv']

In [4]:
# ANSI Escape Codes for BOLD and Resetting formatting - to be used in print() method ..

B = "\033[1m"
R = "\033[0m"

In [5]:
# To avoid the data read error for UTF and other formats ..
import chardet

with open("hotel_bookings.csv", 'rb') as f:
    raw_data = f.read()
    result = chardet.detect(raw_data)
    detected_encoding = result['encoding']
    print(f"Detected encoding: {B}{detected_encoding}{R}")

Detected encoding: ascii

In [6]:
data = pd.read_csv("hotel_bookings.csv", encoding = detected_encoding)
print("Dataset has been read successfully.")

Dataset has been read successfully.

In [7]:
data.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
34581,Resort Hotel,0,45,2017,March,12,23,2,5,2,...,No Deposit,464.0,NaN,0,Transient-Party,66.00,0,1,Check-Out,2017-03-30
104332,City Hotel,0,1,2017,January,2,8,2,2,2,...,No Deposit,15.0,NaN,0,Transient,54.06,0,0,Check-Out,2017-01-12
91113,City Hotel,0,256,2016,June,25,15,0,2,2,...,No Deposit,6.0,NaN,0,Transient-Party,115.00,0,1,Check-Out,2016-06-17
22671,Resort Hotel,0,2,2016,March,14,31,0,1,1,...,No Deposit,251.0,NaN,0,Transient,59.00,0,1,Check-Out,2016-04-01
72691,City Hotel,1,146,2017,August,31,3,0,3,2,...,No Deposit,9.0,NaN,0,Transient,125.00,0,0,Canceled,2017-04-24
30349,Resort Hotel,0,7,2016,November,47,19,0,1,2,...,No Deposit,240.0,NaN,0,Transient,65.00,0,1,Check-Out,2016-11-20
38266,Resort Hotel,0,176,2017,July,27,6,2,5,2,...,No Deposit,147.0,NaN,0,Transient,93.54,0,0,Check-Out,2017-07-13
111330,City Hotel,0,0,2017,May,19,8,1,0,1,...,No Deposit,9.0,NaN,0,Transient,130.00,0,0,Check-Out,2017-05-09
115072,City Hotel,0,133,2017,June,26,28,0,3,2,...,No Deposit,9.0,NaN,0,Transient-Party,99.00,0,2,Check-Out,2017-07-01
88473,City Hotel,0,108,2016,May,19,4,0,3,1,...,No Deposit,11.0,NaN,0,Transient,92.40,0,0,Check-Out,2016-05-07

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [9]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [10]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [11]:
print(f"\nSummary of percentage of {B}NULL values{R} found in the features :\n")
for col in data.columns:
    null_percentage = round((data[col].isnull().sum()/len(data) * 100), 2)
    if null_percentage > 0.00:
        print(f"{col:<10} : {B}{null_percentage} %{R}")

Summary of percentage of NULL values found in the features :

country    : 0.41 %
agent      : 13.69 %
company    : 94.31 %

### Handling Missing Values

There are multiple ways to handle missing values such as dropna and fillna in Pandas. But now we shall deal missing values using Imputer Technique. Such as:
 - Replace with `Mean`
 - Replace with `Median`
 - Replace with `Constant`
 - Replace with `Most Frequent`

In [12]:
imputer = SimpleImputer(strategy = 'most_frequent')
X_imputer = imputer.fit_transform(data)

In [13]:
X_imputer

array([['Resort Hotel', 0, 342, ..., 0, 'Check-Out', '2015-07-01'],
       ['Resort Hotel', 0, 737, ..., 0, 'Check-Out', '2015-07-01'],
       ['Resort Hotel', 0, 7, ..., 0, 'Check-Out', '2015-07-02'],
       ...,
       ['City Hotel', 0, 34, ..., 4, 'Check-Out', '2017-09-07'],
       ['City Hotel', 0, 109, ..., 0, 'Check-Out', '2017-09-07'],
       ['City Hotel', 0, 205, ..., 2, 'Check-Out', '2017-09-07']],
      dtype=object)

In [14]:
numeric = []
category = []
for col in data.columns:
    if data[col].dtype == "O":
        category.append(col)
    else:
        numeric.append(col)

In [16]:
data[category]

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,August,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,August,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,August,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,August,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,August,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

### Scale Numeric Data Type

In [18]:
numeric_feature_scale_std = StandardScaler()
numeric_feature_scale_std_minmax = MinMaxScaler()

### Encoding Category Data Types

In [19]:
category_feature_encode_le = LabelEncoder()
category_feature_encode_one = OneHotEncoder()

### Before Scaling

In [20]:
data[numeric]

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,0,342,2015,27,1,0,0,2,0.0,0,0,0,0,3,NaN,NaN,0,0.00,0,0
1,0,737,2015,27,1,0,0,2,0.0,0,0,0,0,4,NaN,NaN,0,0.00,0,0
2,0,7,2015,27,1,0,1,1,0.0,0,0,0,0,0,NaN,NaN,0,75.00,0,0
3,0,13,2015,27,1,0,1,1,0.0,0,0,0,0,0,304.0,NaN,0,75.00,0,0
4,0,14,2015,27,1,0,2,2,0.0,0,0,0,0,0,240.0,NaN,0,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0.0,0,0,0,0,0,394.0,NaN,0,96.14,0,0
119386,0,102,2017,35,31,2,5,3,0.0,0,0,0,0,0,9.0,NaN,0,225.43,0,2
119387,0,34,2017,35,31,2,5,2,0.0,0,0,0,0,0,9.0,NaN,0,157.71,0,4
119388,0,109,2017,35,31,2,5,2,0.0,0,0,0,0,0,89.0,NaN,0,104.40,0,0
119389,0,205,2017,35,29,2,7,2,0.0,0,0,0,0,0,9.0,NaN,0,151.20,0,2

`Standard Scaler` helps to get standardized distribution, with a zero mean and standard deviation of one (unit variance). It standardizes features by subtracting the mean value from the feature and then dividing the result by feature standard deviation.

In [21]:
data[numeric] = numeric_feature_scale_std.fit_transform(data[numeric])

### After Scaling

In [22]:
data.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
96259,City Hotel,-0.767040,0.552004,-0.221286,August,0.575875,0.592402,3.076680,1.833957,0.247897,...,No Deposit,-0.638177,NaN,-0.131924,Transient-Party,-0.585352,-0.254873,0.540666,Check-Out,2016-08-31
57431,City Hotel,-0.767040,2.938244,-0.221286,September,0.943385,1.161827,0.072502,-0.262174,0.247897,...,No Deposit,0.409000,NaN,12.542386,Transient-Party,0.102282,-0.254873,-0.720694,Check-Out,2016-09-29
95748,City Hotel,-0.767040,-0.973319,-0.221286,August,0.575875,0.820172,-0.928890,-0.786207,0.247897,...,No Deposit,NaN,NaN,-0.131924,Transient,0.735499,-0.254873,-0.720694,Check-Out,2016-08-24
40258,City Hotel,1.303712,-0.861025,-1.634768,July,0.134863,0.250747,1.073895,-0.262174,0.247897,...,No Deposit,-0.773587,NaN,-0.131924,Transient-Party,-0.788180,-0.254873,-0.720694,Canceled,2015-07-18
37562,Resort Hotel,-0.767040,0.318059,1.192195,June,-0.159144,0.478517,-0.928890,-0.262174,0.247897,...,No Deposit,1.383958,NaN,-0.131924,Transient,1.823841,3.821932,-0.720694,Check-Out,2017-06-22
34592,Resort Hotel,-0.767040,0.420994,1.192195,March,-1.114670,1.047942,1.073895,0.261858,0.247897,...,No Deposit,1.383958,NaN,-0.131924,Transient,-1.045424,3.821932,0.540666,Check-Out,2017-03-30
22215,Resort Hotel,-0.767040,-0.748731,-0.221286,March,-1.114670,0.250747,0.072502,-0.262174,1.974242,...,No Deposit,0.255535,NaN,-0.131924,Transient,-1.801327,-0.254873,-0.720694,Check-Out,2016-03-21
97239,City Hotel,-0.767040,-0.870383,-0.221286,September,0.796381,-0.546447,1.073895,-0.786207,0.247897,...,No Deposit,-0.529848,NaN,-0.131924,Transient,-0.135174,-0.254873,-0.720694,Check-Out,2016-09-14
48165,City Hotel,1.303712,-0.121758,-0.221286,March,-1.114670,0.250747,-0.928890,-0.262174,-1.478447,...,Non Refund,-0.520821,NaN,1.004786,Transient,-0.530935,-0.254873,-0.720694,Canceled,2016-02-03
48756,City Hotel,1.303712,0.074756,-0.221286,March,-0.967666,1.617366,-0.928890,-0.262174,0.247897,...,Non Refund,-0.773587,NaN,-0.131924,Transient,-0.748604,-0.254873,-0.720694,Canceled,2016-01-11

### Before Encoding

In [23]:
data[category]

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,August,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,August,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,August,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,August,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,August,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

`Label Encoding` refers to converting the labels into a numeric form so as to convert them into the machine-readable form. Machine learning algorithms can then decide in a better way how those labels must be operated. It is an important pre-processing step for the structured dataset in supervised learning.

Suppose your features have data such as: "Male, Female, Not Preferred To Say", Label Encoder will convert it into "0,1, 2"

In [25]:
for item in category:
    data[item] = category_feature_encode_le.fit_transform(data[item].astype(str))

### After Encoding

In [26]:
data[category]

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,1,5,0,135,3,1,2,2,0,2,1,121
1,1,5,0,135,3,1,2,2,0,2,1,121
2,1,5,0,59,3,1,0,2,0,2,1,122
3,1,5,0,59,2,0,0,0,0,2,1,122
4,1,5,0,59,6,3,0,0,0,2,1,123
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,1,0,15,5,3,0,0,0,2,1,919
119386,0,1,0,56,6,3,4,4,0,2,1,920
119387,0,1,0,43,6,3,3,3,0,2,1,920
119388,0,1,0,59,6,3,0,0,0,2,1,920
119389,0,1,2,43,6,3,0,0,0,2,1,920

### Updated Dataset

In [27]:
data.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
71829,0,1.303712,-0.795520,1.192195,5,0.061361,-0.318677,-0.928890,0.261858,0.247897,...,0,-0.701368,NaN,-0.131924,2,1.810583,-0.254873,-0.720694,0,854
111627,0,-0.767040,0.140260,1.192195,8,-0.600156,-0.546447,-0.928890,0.261858,0.247897,...,0,-0.701368,NaN,-0.131924,3,0.359526,-0.254873,-0.720694,1,804
20219,1,-0.767040,-0.823594,1.192195,4,-1.849689,-0.432562,1.073895,0.261858,0.247897,...,0,1.474232,NaN,-0.131924,3,-0.530935,3.821932,1.802026,1,687
103701,0,-0.767040,-0.056254,-0.221286,2,1.898910,1.161827,0.072502,0.261858,1.974242,...,0,-0.006259,NaN,-0.131924,2,0.195088,-0.254873,-0.720694,1,669
63426,0,1.303712,0.879527,1.192195,3,-1.555681,-0.546447,1.073895,1.309924,0.247897,...,0,-0.701368,NaN,-0.131924,2,-0.333055,-0.254873,1.802026,0,684
68029,0,1.303712,0.243196,1.192195,8,-0.600156,-0.546447,0.072502,0.261858,0.247897,...,0,-0.701368,NaN,-0.131924,2,0.300162,-0.254873,-0.720694,0,782
61978,0,1.303712,1.665583,-0.221286,2,1.898910,1.503481,0.072502,0.261858,0.247897,...,0,-0.701368,NaN,-0.131924,2,-0.366695,-0.254873,1.802026,0,641
75963,0,1.303712,1.843381,-1.634768,1,0.428871,-0.204793,-0.928890,-0.262174,0.247897,...,1,-0.728450,NaN,-0.131924,3,-0.006552,-0.254873,-0.720694,0,126
64578,0,1.303712,-0.486713,1.192195,7,-1.188172,-0.318677,0.072502,-0.786207,-1.478447,...,1,-0.277081,NaN,-0.131924,2,-0.431995,-0.254873,-0.720694,0,690
70362,0,1.303712,2.002464,1.192195,6,-0.232646,-0.090908,0.072502,0.261858,0.247897,...,0,-0.701368,NaN,-0.131924,2,0.157688,-0.254873,0.540666,0,722

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  int32
 1   is_canceled                     119390 non-null  float64
 2   lead_time                       119390 non-null  float64
 3   arrival_date_year               119390 non-null  float64
 4   arrival_date_month              119390 non-null  int32
 5   arrival_date_week_number        119390 non-null  float64
 6   arrival_date_day_of_month       119390 non-null  float64
 7   stays_in_weekend_nights         119390 non-null  float64
 8   stays_in_week_nights            119390 non-null  float64
 9   adults                          119390 non-null  float64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  float64
 12  meal                            119390 non-null  int32
 13  country                         119390 non-null  int32
 14  market_segment                  119390 non-null  int32
 15  distribution_channel            119390 non-null  int32
 16  is_repeated_guest               119390 non-null  float64
 17  previous_cancellations          119390 non-null  float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              119390 non-null  int32
 20  assigned_room_type              119390 non-null  int32
 21  booking_changes                 119390 non-null  float64
 22  deposit_type                    119390 non-null  int32
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  float64
 26  customer_type                   119390 non-null  int32
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  float64
 29  total_of_special_requests       119390 non-null  float64
 30  reservation_status              119390 non-null  int32
 31  reservation_status_date         119390 non-null  int32
dtypes: float64(20), int32(12)
memory usage: 23.7 MB

## Summary:
Before we train and predict our Machine Learning Models, here are the few steps you need to follow:
 - EDA

## Data Preprocess
 - Handle Missing Data
 - Scaling Numeric Data Type
 - Encoding Category Data Type